<!DOCTYPE html>
<html>
  <head>

    <title>Thoth | 教育系動画まとめサイト</title>
    <meta charset="utf-8">
    <meta name="description" content="トートは、古代エジプトの知恵を司る神。どんな環境のこどもでも、このサイトに訪れたら楽しく学習できる教育動画まとめサイトです。">
    <meta name="keywords" content="thoth,トート,教育,動画,こども">
    <meta property="og:site_name" content="Thoth トート">
    <meta property="og:title" content="Thoth | 教育系動画まとめサイト">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://thoth-edu-media.com">
    <meta property="og:description" content="トートは、古代エジプトの知恵を司る神。どんな環境のこどもでも、このサイトに訪れたら楽しく学習できる教育動画まとめサイトです。">
    {{ partial "common-head" . }}
    <script type="text/javascript" src="https://s3-ap-northeast-1.amazonaws.com/thoth-edu-media/javascript/main.js"></script>

    <link rel="stylesheet" type="text/css" href="../static/css/main.css">
    <div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = 'https://connect.facebook.net/ja_JP/sdk.js#xfbml=1&version=v3.0';
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
  </head>

  <body>


    <div class="container-header">
      <a href="https://thoth-edu-media.com/">
        <img src="thothlogo0520.png" class="thothlogo"/>
      </a>

        <div class="container-category posi">
          <span class="category-rectangle kokugo"><a class="white" href="">国語</a></span>
          <span class="category-rectangle sansu"><a class="white" href="">算数</a></span>
          <span class="category-rectangle rika"><a class="white" href="">理科</a></span>
          <span class="category-rectangle shakai"><a class="white" href="">社会</a></span>
          <span class="category-rectangle taiiku"><a class="white" href="">体育</a></span>
          <span class="category-rectangle bizyutu"><a class="white" href="">美術</a></span>
          <span class="category-rectangle onngaku"><a class="white" href="">音楽</a></span>
          <span class="category-rectangle gift"><a class="black" href="">Gift</a></span>
        </div>
    </div>
    <div class="hogosya">
      保護者の方へ
    </div>
    <br>
    <div class="movie-container">
      <div class="item box-1"><iframe src="https://www.youtube.com/embed/DFjIi2hxxf0?rel=0" frameborder="0" width="100%" height="100%"　allow="autoplay; encrypted-media" allowfullscreen></iframe></div>
      <div class="item box-2"><iframe src="https://www.youtube.com/embed/1wVxw27tZDk" frameborder="0"  width="100%" height="100%" allow="autoplay; encrypted-media" allowfullscreen></iframe></div>
      <div class="item box-3"><iframe src="https://www.youtube.com/embed/1wVxw27tZDk" frameborder="0"  width="100%" height="100%" allow="autoplay; encrypted-media" allowfullscreen></iframe></div>
      <div class="item box-4"><iframe src="https://www.youtube.com/embed/1wVxw27tZDk" frameborder="0"  width="100%" height="100%" allow="autoplay; encrypted-media" allowfullscreen></iframe></div>
      <div class="item box-5"><iframe src="https://www.youtube.com/embed/1wVxw27tZDk" frameborder="0"  width="100%" height="100%" allow="autoplay; encrypted-media" allowfullscreen></iframe></div>
      <div class="item box-6"><iframe src="https://www.youtube.com/embed/1wVxw27tZDk" frameborder="0"  width="100%" height="100%" allow="autoplay; encrypted-media" allowfullscreen></iframe></div>
      <div class="item box-7"><iframe src="https://www.youtube.com/embed/1wVxw27tZDk" frameborder="0"  width="100%" height="100%" allow="autoplay; encrypted-media" allowfullscreen></iframe></div>
      <div class="item box-8"><iframe src="https://www.youtube.com/embed/1wVxw27tZDk" frameborder="0"  width="100%" height="100%" allow="autoplay; encrypted-media" allowfullscreen></iframe></div>
      <div class="item box-9"><iframe src="https://www.youtube.com/embed/1wVxw27tZDk" frameborder="0"  width="100%" height="100%" allow="autoplay; encrypted-media" allowfullscreen></iframe></div>
      <div class="item box-10"><iframe src="https://www.youtube.com/embed/1wVxw27tZDk" frameborder="0"  width="100%" height="100%" allow="autoplay; encrypted-media" allowfullscreen></iframe></div>
    </div>
    <div class="movie-none-container">
      <div class="movie-show-container">
        <div class="item box-1"><iframe src="https://www.youtube.com/embed/DFjIi2hxxf0?rel=0" frameborder="0" width="100%" height="100%"　allow="autoplay; encrypted-media" allowfullscreen></iframe></div>
        <div class="item box-2"><iframe src="https://www.youtube.com/embed/1wVxw27tZDk" frameborder="0"  width="100%" height="100%" allow="autoplay; encrypted-media" allowfullscreen></iframe></div>
        <div class="item box-3"><iframe src="https://www.youtube.com/embed/1wVxw27tZDk" frameborder="0"  width="100%" height="100%" allow="autoplay; encrypted-media" allowfullscreen></iframe></div>
        <div class="item box-4"><iframe src="https://www.youtube.com/embed/1wVxw27tZDk" frameborder="0"  width="100%" height="100%" allow="autoplay; encrypted-media" allowfullscreen></iframe></div>
        <div class="item box-5"><iframe src="https://www.youtube.com/embed/1wVxw27tZDk" frameborder="0"  width="100%" height="100%" allow="autoplay; encrypted-media" allowfullscreen></iframe></div>
        <div class="item box-6"><iframe src="https://www.youtube.com/embed/1wVxw27tZDk" frameborder="0"  width="100%" height="100%" allow="autoplay; encrypted-media" allowfullscreen></iframe></div>
        <div class="item box-7"><iframe src="https://www.youtube.com/embed/1wVxw27tZDk" frameborder="0"  width="100%" height="100%" allow="autoplay; encrypted-media" allowfullscreen></iframe></div>
        <div class="item box-8"><iframe src="https://www.youtube.com/embed/1wVxw27tZDk" frameborder="0"  width="100%" height="100%" allow="autoplay; encrypted-media" allowfullscreen></iframe></div>
        <div class="item box-9"><iframe src="https://www.youtube.com/embed/1wVxw27tZDk" frameborder="0"  width="100%" height="100%" allow="autoplay; encrypted-media" allowfullscreen></iframe></div>
        <div class="item box-10"><iframe src="https://www.youtube.com/embed/1wVxw27tZDk" frameborder="0"  width="100%" height="100%" allow="autoplay; encrypted-media" allowfullscreen></iframe></div>
      </div>
    </div>
    <div class="movie-none-container">
      <div class="movie-show-container">
        <div class="item box-1"><iframe src="https://www.youtube.com/embed/DFjIi2hxxf0?rel=0" frameborder="0" width="100%" height="100%"　allow="autoplay; encrypted-media" allowfullscreen></iframe></div>
        <div class="item box-2"><iframe src="https://www.youtube.com/embed/1wVxw27tZDk" frameborder="0"  width="100%" height="100%" allow="autoplay; encrypted-media" allowfullscreen></iframe></div>
        <div class="item box-3"><iframe src="https://www.youtube.com/embed/1wVxw27tZDk" frameborder="0"  width="100%" height="100%" allow="autoplay; encrypted-media" allowfullscreen></iframe></div>
        <div class="item box-4"><iframe src="https://www.youtube.com/embed/1wVxw27tZDk" frameborder="0"  width="100%" height="100%" allow="autoplay; encrypted-media" allowfullscreen></iframe></div>
        <div class="item box-5"><iframe src="https://www.youtube.com/embed/1wVxw27tZDk" frameborder="0"  width="100%" height="100%" allow="autoplay; encrypted-media" allowfullscreen></iframe></div>
        <div class="item box-6"><iframe src="https://www.youtube.com/embed/1wVxw27tZDk" frameborder="0"  width="100%" height="100%" allow="autoplay; encrypted-media" allowfullscreen></iframe></div>
        <div class="item box-7"><iframe src="https://www.youtube.com/embed/1wVxw27tZDk" frameborder="0"  width="100%" height="100%" allow="autoplay; encrypted-media" allowfullscreen></iframe></div>
        <div class="item box-8"><iframe src="https://www.youtube.com/embed/1wVxw27tZDk" frameborder="0"  width="100%" height="100%" allow="autoplay; encrypted-media" allowfullscreen></iframe></div>
        <div class="item box-9"><iframe src="https://www.youtube.com/embed/1wVxw27tZDk" frameborder="0"  width="100%" height="100%" allow="autoplay; encrypted-media" allowfullscreen></iframe></div>
        <div class="item box-10"><iframe src="https://www.youtube.com/embed/1wVxw27tZDk" frameborder="0"  width="100%" height="100%" allow="autoplay; encrypted-media" allowfullscreen></iframe></div>
      </div>
    </div>
    <br>
    <div class="more" onclick="displayMovieContainer()">
      もっと見る
    </div>
    <br>
    <div class="footer"><br>
      <span class="footer-logo">Thoth</span>
      <div class="sns-oya">
        <a href="http://twitter.com/share?url=https://thoth-edu-media.com&amp;text=トートは、古代エジプトの知恵を司る神。どんな環境のこどもでも、このサイトに訪れたら楽しく学習できる教育動画まとめサイトです。" class="twitter-share-button" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        <iframe src="https://www.facebook.com/plugins/share_button.php?href=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&layout=button&size=small&mobile_iframe=true&width=61&height=20&appId" width="61" height="20" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
      </div>
      <span class="footer-mozi">
        thothについて<br>
        お問い合わせ　
        <a href="mailto:thoth.edu.media@gmail.com" style="color:#ffffff;">thoth.edu.media@gmail.com</a>
      </span>
    </div>




</body>



</html>
