<!DOCTYPE html>
<html>
  {{ partial "head" . }}
  <body>
    {{ partial "header" . }}
    <br>

    <div class="body-container">
      <div>
        <br>
        {{ range .Data.Pages }}
        <span class="movie"><iframe width="640" height="360" src={{ .Params.videoUrl }} frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe></span><br>
        <div class="body-title">{{ .Params.title }}</div>
        <div class="body-tag">{{ .Params.category }}</div>
          <hr class="line"><br>
        {{ end }}
        <div class="more">もっと見る</div>
      </div>

      <div class="side">
        <div class="side-container">
          <div class="sideitem">おすすめ動画<br>
            <div class="side-movie-container">
              <div class="side-movie"><iframe width="150" height="85" src="https://www.youtube.com/embed/HetA4oLaA-o" frameborder="0" allow="autoplay; encrypted-media"  allowfullscreen></iframe></div>
              <div class="side-movie-title">神業！！　フランスで偶然出会った旅行客のピアノ二重奏が美しすぎる</div>
            </div>
            <div class="side-movie-container">
              <div class="side-movie"><iframe width="150" height="85" src="https://www.youtube.com/embed/DFjIi2hxxf0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe></div>
              <div class="side-movie-title">トム･サム: 口で奏でるオーケストラ</div>
            </div>
            <div class="side-movie-container">
              <div class="side-movie"><iframe width="150" height="85" src="https://www.youtube.com/embed/8cJSo9lScKw" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe></div>
              <div class="side-movie-title">銀座でサックスを吹く少女が、うますぎると話題に！！　 incredible girl sax player in Tokyo</div>
            </div>
            <div class="side-movie-container">
              <div class="side-movie"><iframe width="150" height="85" src="https://www.youtube.com/embed/MvofM_S64EI" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe></div>
              <div class="side-movie-title">今までサックスに興味が無かった人もうっとりする演奏。。。。</div>
            </div>
            <div class="side-movie-container">
              <div class="side-movie"><iframe width="150" height="85" src="https://www.youtube.com/embed/kR0pwjigBGQ" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe></div>
              <div class="side-movie-title">ギターなんか誰でも弾ける教室〜所ジョージ</div>
            </div>

            <br>

            <div>Giftページ<br>
              <a href=""><img src="https://www.pakutaso.com/shared/img/thumb/PPH_foryoupr_TP_V.jpg" altt="giftpage" class="gift"></a>

              <br>
            </div><br>

            <div>SNSシェア</div>
              <div class="sns-container"><br>
                <div class="sns-oya">
                  <a href=""><img src="https://cdn0.iconfinder.com/data/icons/social-flat-rounded-rects/512/twitter-128.png" alt="twitter" class="sns-item"></a>
                  <a href=""><img src="https://ja.facebookbrand.com/wp-content/uploads/2016/05/FB-fLogo-Blue-broadcast-2.png" alt="facebook"class="sns-item"></a>
                  <a href=""><img src="http://www.marksign.net/wp-content/uploads/2016/07/instagram.jpg" alt="instagram"class="sns-item"></a>
                </div>
        　    </div><br>

          <div>ランダムリンク</div>

          </div>
        </div>
      </div>
    </div><br><br>
    {{ partial "footer" . }}
  </body>
</html>
