<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="../../static/css/main.css">
  </head>

<header>
  <div class="thoth">
    <div class="mozi1">教育系動画まとめ</div>
    <div class="mozi2">保護者の方へ</div>
    <div class="title"><a href="https://thoth-edu-media.com/">Thoth</a></div>
  </div>
  <div class="container">
    {{ range $key, $value := .Site.Taxonomies.categories }}
    <div  class="item"><a href="/categories/{{ $key | urlize }}"  class="item">{{ $key }}</a></div>
    {{ end }}
  </div>
</header>

</html>
