<header>
  <div class="thoth">
    <div class="mozi1">教育系動画まとめ</div>
    <div class="mozi2">保護者の方へ</div>
    <div class="title">Thoth</div>
  </div>
  <div class="container">
    <div class="item">TOP</div>
    <div class="item">国語</div>
    <div class="item">算数</div>
    <div class="item">理科</div>
    <div class="item">社会</div>
    <div class="item">体育</div>
    <div class="item">美術</div>
    <div class="item">音楽</div>
    <div class="item">英語</div>
    <div class="item">家庭科</div>
  </div>
</header>
