

body{
  margin: 0;
}

.thothlogo{
  width: 80%;
  height: auto;

}

a {
 weight: 100px;
}


.container-header{
  height: 110px;
  display: flex;
  align-items: flex-end;
  margin-left: 60px;
  background-color: rgba( 255, 255, 255, 0.9);
}
.container-category{
  display: flex;
  margin-right: 30%;



}

.category-rectangle{
  width: 65px;
  height: 57px;
  border-radius: 8px;
  margin: 3px;
  text-align: center;
  line-height: 55px;

  color: #ffffff;

}


.category-rectangle a{
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
}

.white, .white:hover, .white:visited, .white:link, .white:active {
color: #FFFFFF;
}
.black, .black:hover, .black:visited, .black:link, .black:active {
color: #000000;
}


}
.posi{
  vertical-align: middle;

}
.kokugo{
  background: #FA4141;

}
.sansu{
  background: #3E7FFB;
}
.rika{
  background: #33AC21;
}
.shakai{
  background: #F7B322;
}
.taiiku{
  background: #534CD4;
}
.bizyutu{
  background: #FF5E74;
}
.onngaku{
  background: #C86EFF;
}
.gift{
  background: #FFF35D;
  color: #000000;
}



.hogosya{
  float: right;
  margin-right: 50px;
  font-size: 14px;

}

.item {
  padding: 10px;
  border-radius: 8px;

}

.movie-container{
  display: grid;
  grid-gap: 5px;
  grid-template-columns: 0.9fr 0.6fr 1fr 1.5fr;
  grid-template-rows: 170px 85px 85px 180px 170px;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: -5px;
}

.box-1{
  grid-column: 1 / 3;
  grid-row: 1 / 4;
  background: #FA4141;
}
.box-2{
  grid-column: 3 / 4;
  grid-row: 1 / 2;
  background: #33AC21;
}
.box-3{
  grid-row: 1 / 3;
  background: #C86EFF;
}
.box-4{
  grid-row: 2 /4;
  background: #FF5E74;
}
.box-5{
  grid-row: 3 / 5;
  background: #F7B322;
}
.box-6{
  background: #3E7FFB;
}
.box-7{
  grid-column: 2 / 4;
  background: #33AC21;
}

.box-8{
  grid-column: 1 / 3;
  background: #F7B322;
}
.box-9{
  background: #534CD4;
}
.box-10{
  background: #33AC21;
}

.more{
  -webkit-user-select: none;
  user-select: none;
  margin: auto;
  text-align: center;
  width: 200px;
  background-color: #ffe835;
  border-radius: 5px;
}

.movie-none-container{
  display: none;
}
.movie-show-container{
  display: grid;
  grid-gap: 5px;
  grid-template-rows: 170px 85px 85px 180px 170px;
  margin-left: 25px;
  margin-right: 25px;
  margin-top: 5px;
}

.footer{
  display: flex;
  width: 100%;
  height: 90px;
  background: #004B68;
}
.footer-logo{
  color: #f0f4f5;
  font-size: 30px;
  font-weight: bold;
  margin-left: 10%;
  margin-top: 10px;
}
.sns-oya{
  margin-left: 40%;
  margin-top: 10px;
}
.footer-mozi{
  font-size: 14px;
  float: right;
  color: #f0f4f5;
  margin-right: 10%;
  margin-top: 10px;
}

@media screen and (min-width: 360px) and (max-width: 1024px){
  .thothlogo{
    width: 20%;
    height: auto;
  }
  .container-header{
    height: auto;
    text-align: center;
    display: inline;
    margin-left: 0px;
    position: sticky;
    top: 0px;

  }
  .container-header{
    display: block;
  }
  .category-rectangle{
    width: 24%;
    height: 55px;
    border-radius: 8px;
    margin: 3px;
    text-align: center;
    line-height: 52px;
    font-size: 27px;
    color: #ffffff;

  }
  .container-category{
    display: flex;
    flex-wrap: wrap;
    margin-left: 50px;
    margin-right: 50px;


  }

  .movie-container{
    display: block;
    margin-bottom: 5px;
    margin-left: 50px;
    margin-right: 80px;
  }
  .movie-show-container{
    display: block;
    margin-top: 5px;
    margin-left: 25px;
    margin-right: 40px;
    margin-top: 5px;
  }
  .item {
    border-radius: 8px;
    margin-bottom: 5px;
    width: 100%;
    height: 400px;

  }
  .more{
    -webkit-user-select: none;
    user-select: none;
    margin: auto;
    text-align: center;
    width: 300px;
    background-color: #ffe835;
    border-radius: 5px;
    font-size: 20px;
  }
}
